{% if view == 'list' %}
	{% for app, info in value %}
		{% if value[app]['version']|default(false) %}
			<a class="label label-primary">{{ app }} {{ value[app]['version']|default('–') }}</a>
		{% endif %}
	{% endfor %}
{% elseif view == 'show' %}
	<pre style="max-height: 20em">{{ value|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
{% endif %}
